* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

nav {
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: space-between;
   height: 60px;
   width: 100%;
   box-shadow: 1px 3px 1px rgb(235, 173, 41);
   background-color: white;

}

nav .div-arch {
   margin-left: 15px;

}

nav .div-arch p {
   font-size: 48px;
   transform: translate(54%, 9%);
}

nav .div-arch span {
   background-color: rgb(116, 113, 113);
   width: 91px;
   height: 44px;
   position: absolute;
   transform: translate(9%, 15%);
   text-align: center;
   font-size: 39px;
   font-weight: bold;
   color: rgb(235, 173, 41);
}

nav .div-list {
   margin-right: 20px;
   width: 482px;
   font-size: 30px;
   display: flex;
   align-items: center;
   justify-content: space-around;

}

nav .div-list a {
   color: rgb(17, 14, 14);
   text-decoration: none;
}

a:hover,
a:visited {
   background-color: rgb(235, 173, 41);
}

.back {
   background-image: url('../images/unsplash.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 60px;
   width: 1366px;
   height: 625px;
}

.back .p-back {
   background-color: rgb(116, 113, 113);
   width: 91px;
   height: 44px;
   position: absolute;
   transform: translate(574%, 545%);
   text-align: center;
   font-size: 39px;
   font-weight: bold;
   color: rgb(235, 173, 41);
}

.back .p2-back {
   color: rgb(22, 21, 21);
   width: 91px;
   height: 44px;
   font-size: 48px;
   position: absolute;
   transform: translate(690%, 543%);

}

.back .search {
   transform: translate(78%, 1278%);
   width: 520px;
   height: 41px;
   background-color: rgb(172, 166, 166);
   border: 2px solid rgb(235, 173, 41);
   color: rgb(251 169 1);
   font-size: 15px;
   padding-left: 168px;
}
/*-------------------------------------------------------------------part 2----------------------------------------------------------------*/

.projects{
   margin: -20px 20px 121px 20px;
   width: 100%;


}

.projects h1,
.About h1,
.contact h1 {
   padding: 31px 0;
   border-bottom: 3px solid rgb(235, 173, 41);
   border-top: 3px solid rgb(235, 173, 41);
   margin-top: 21px;
   background-color: rgb(116, 113, 113);
   width: 89px;
   height: 97px;
   position: absolute;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   color: rgb(235, 173, 41);
   margin-left: -19px;
}

.projects .navbar , .About .navbar ,.contact  .navbar {
   width: 1258px;
   height: 44px;
   transform: translate(70px, 73px);
   margin-top: -18px;
   background-color: rgb(235, 173, 41);
   color: rgb(116, 113, 113);
   font-size: 20px;
   padding-top: 10px;
   padding-left: 15px;

}



.projects .lista {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.projects .lista .houses  {
   width: 34%;
   padding-top: 131px;
   margin-right: 33px;
   margin-bottom: -225px;
}

.projects .lista .houses img {
   width: 100%;
   height: 70%;
}


.projects .lista .houses p {
   transform: translate(0%, -114%);
   background-color: rgb(116, 113, 113);
   width: 112px;
   height: 32px;
   position: absolute;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   color: rgb(235, 173, 41);
}

 a :hover{
   border: 5px solid rgb(235, 173, 41);
}
/*-------------------------------------------------------------------part 3----------------------------------------------------------------*/

.About,
.contact,
.people {
   width: 100%;
   height: 100%;
   padding: 0 20px;

}

.About p {
   text-align: justify;
   padding-top: 114px;
}

/*-------------------------------------------------------------------part 4----------------------------------------------------------------*/
.contact form {
   width: 100%;
   margin-top: 115px;

}

.contact input,
.contact textarea {
   width: 100%;
   height: 30px;
   margin-bottom: 20px;
   padding: 10px;
   border: 1px solid grey;
}

.contact textarea {
   height: 50px;
}

.contact .submet {
   width: 230px;
   height: 50px;
   background-color: gray;
   color: rgb(235, 173, 41);
   font-size: 27px;
   margin-left: 535px;
   border: 2px solid rgb(235, 173, 41);

}

/*-------------------------------------------------------------------part 5----------------------------------------------------------------*/
.people {
   margin-top: 50px;

}

.people .main-people {
   width: 100%;
   display: flex;
   padding-left: 160px;
   flex-wrap: wrap;
   justify-content: center;
}


.people .main-people .card {
   max-width: 50%;
   margin-bottom: 50px;
   position: relative;

}

.stripes {
   width: 100%;
   height: 621px;
   position: absolute;
   opacity: 0.1;

}

.stripes img {
   width: 72%;
   height: inherit;
}

.people .main-people .card img {
   width: 72%;
   border: 2px solid rgb(235, 173, 41);

}

.people .main-people .card p {
   margin-top: 5px;
   margin-bottom: 10px;
}

.people .main-people .card .info {
   width: 50%;
}

.people .main-people .card button {
   width: 72%;
   height: 43px;
   border: none;
   background-color: gray;
   color: rgb(235, 173, 41);
   font-size: 20px;
   cursor: pointer;
   border: 2px solid rgb(235, 173, 41);
}

/*-------------------------------------------------------------------part 6----------------------------------------------------------------*/

footer {
   background-image: url(../images/photo-opacity.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 60px;
   width: 1366px;
   height: 625px;

}

footer p {
   font-size: 20px;
   max-width: 104vw;
   height: 59px;
   border-top: 2px solid rgb(235, 173, 41);
   margin: -15px 0px;
   padding-left: 546px
}

footer span {
   color: rgb(235, 173, 41);

}
