* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  width: 100%;
  box-shadow: 1px 3px 1px rgb(235, 173, 41);
  background-color: aliceblue;
  background-color: white;
  z-index: 1;
}

nav .div-arch {
  margin-left: 15px;
}

nav .div-arch p {
  font-size: 48px;
  transform: translate(54%, 9%);
}

nav .div-arch span {
  background-color: rgb(116, 113, 113);
  width: 91px;
  height: 44px;
  position: absolute;
  transform: translate(9%, 15%);
  text-align: center;
  font-size: 39px;
  font-weight: bold;
  color: rgb(235, 173, 41);
}

nav .div-list {
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  gap: 47px;
  align-items: end;
  margin-top: 22px;
}

nav .div-list a {
  color: rgb(17, 14, 14);
  text-decoration: none;
}

.back {
  background-image: url("../images/unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
}

.back .p-back {
  background-color: rgb(116, 113, 113);
  width: 91px;
  /* height: 44px; */
  position: absolute;
  transform: translate(0, -50%);
  text-align: center;
  font-size: 39px;
  font-weight: bold;
  color: rgb(235, 173, 41);
  overflow: unset;
  top: 53%;
  left: 39%;
}

.back .p2-back {
  color: rgb(22, 21, 21);
  width: 91px;
  height: 44px;
  font-size: 48px;
  position: absolute;
  transform: translate(0, -50%);
  overflow: unset;
  top: 52%;
  left: 47%;
}

/*-------------------------------------------------------------------part 2----------------------------------------------------------------*/

.projects {
  width: 100%;
  margin-top: 62px;
}
.project-title-container {
  display: flex;
}
.projects .styleh1,
.About .styleh1,
.contact .styleh1 {
  padding: 10px 0;
  border-bottom: 3px solid rgb(235, 173, 41);
  border-top: 3px solid rgb(235, 173, 41);
  background-color: rgb(116, 113, 113);
  width: 89px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: rgb(235, 173, 41);
}

.projects .project-title,
.About .project-title,
.contact .project-title {
  width: 96%;
  background-color: rgb(235, 173, 41);
  color: rgb(116, 113, 113);
  font-size: 20px;
  padding: 15px;
}

.projects .lista {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
  gap: 34px;
  margin-top: 50px;
}

.projects .lista .houses {
  width: 34%;
  height: 335px;
}

.projects .lista .houses img {
  width: 100%;
  height: 100%;
}

.projects .lista .houses p {
  transform: translate(0%, -114%);
  background-color: rgb(116, 113, 113);
  width: 112px;
  height: 32px;
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(235, 173, 41);
}

/*-------------------------------------------------------------------part 3----------------------------------------------------------------*/

.About,
.contact,
.people {
  width: 100%;
  margin-top: 62px;
}

.About p {
  margin-top: 64px;
  text-align: center;
}

/*-------------------------------------------------------------------part 4----------------------------------------------------------------*/
.people {
  margin-top: 50px;
}

.people .main-people {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.people .main-people .card {
  width: 34%;
  margin-bottom: 50px;
  position: relative;
}

.stripes img {
  width: 72%;
  height: inherit;
}

.people .main-people .card img {
  width: 72%;
  border: 2px solid rgb(235, 173, 41);
}

.people .main-people .card p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.people .main-people .card .info {
  width: 50%;
}

.people .main-people .card button {
  width: 72%;
  height: 43px;
  border: none;
  background-color: gray;
  color: rgb(235, 173, 41);
  font-size: 20px;
  cursor: pointer;
  border: 2px solid rgb(235, 173, 41);
}

/*-------------------------------------------------------------------part 5----------------------------------------------------------------*/

.contact form {
  width: 52%;
  margin: 0 auto;
  margin-top: 55px;
  text-align: center;
}

.contact input,
.contact textarea {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.contact textarea {
  height: 50px;
}

.contact .submet {
  width: 230px;
  height: 50px;
  background-color: gray;
  color: rgb(235, 173, 41);
  font-size: 27px;
  border: 2px solid rgb(235, 173, 41);
}
/*-------------------------------------------------------------------part 6----------------------------------------------------------------*/

footer {
  background-image: url(../images/photo-opacity.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  width: 100%;
  height: 522px;
  text-align: center;
  margin-top: 62px;
}

footer p {
  font-size: 24px;
  border-top: 2px solid rgb(235, 173, 41);
  margin-bottom: 28px;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 27px;
}

footer span {
  color: rgb(235, 173, 41);
}
